# Ignore Everything
*

# Don't ignore these files
!Makefile
!.vsls.json
!*.cpp
!*.h
!*.cl
!BACH/res/*.fits
!.clang-format
!CMakeLists.txt

!*.c
!hotpants/*.fits

# Don't ignore all subfolders
!*/
*/build/*