# Ignore Everything
*

# Don't ignore these files
!Makefile
!.vsls.json
!*.cpp
!*.c
!*.h
!*.cl
!.clang-format
!CMakeLists.txt

# Don't ignore this file type Here
!BACH/res/*.fits

# Don't ignore all subfolders
!*/
*/build/*